body {
  background: #222;
  overflow: hidden;
}
.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  
}
div {
  position: absolute;
  height: 100vh;
  animation: animate 5s linear infinite;
}
/* @keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0px) rotate(0deg);
    opacity: 0;
  }
} */